{% extends '../layout.html' %}

{% block content %}

   <h2>LAS Instrumentation {{ title }}</h2>

   <!-- When this element is clicked, hide the tooltip -->
<!--
   <div ng-app="instrumentationApp">
   <div id="eventList" ng-app="instrumentationApp" ng-controller="eventController" ng-click="hideTooltip()">
-->
   <div id="eventList" ng-controller="eventController" ng-click="hideTooltip()">
     
     <button id='toggleLoop' ng-click='toggleMessageLoop ()'>Add</button> 

     <canvas id="messageThroughputChart" class="throughputChart" ng-show="messageLoop != null"> 
     </canvas>

     <ul class='eventList'>
       <li ng-repeat="message in messages" ng-class="{ topMessage : $first }"> 
	 <div class='eventId'>[[message.id]]</div>
	 <div class='eventData'>[[message.date]]</div>
	 <div class='eventDetails'>[[message.filename]]</div>
       </li></br>
     </ul>

   </div>   

{% endblock %}
