doctype 5
html(lang="en")
  head
    title= pageTitle

    //- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript').
	window.jQuery || document.write('<script src="/bower_components/jquery/jquery.min.js"><\/script>')

  body
    h1 The App
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
