body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
    height:300px;
    position:relative;
    padding-top: 150px;
}

.eventList {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}
.eventList .eventId {
    padding : 2px;
    width   : 18%;
    float   : left;
}
.eventList .eventData {
    padding : 2px;
    width   : 40%;
    float   : left;
}
.eventList .eventDetails {
    padding : 2px;
    width   : 40%;
    float   : left;
}
.eventList li {
    float : left;    
    width : 100%;
}
.eventListHeader {
    border : 1px solid lightgray;
 }
.topMessage {
    border-top  : 1px solid lightgray !important;
}

.throughputChart {
    float : left;
    width : 100%; 
    height : 150px;
 }

.sectionHead {
    background-color : lightgrey;
    border-radius : 5px 5px 0 0;
    color : white;
    background-color: #405a6a;
    background-image: -moz-linear-gradient(#829aa8, #405a6a);
    background-image: -webkit-linear-gradient(#829aa8, #405a6a);
    background-image: linear-gradient(#829aa8, #405a6a);
    background-repeat: repeat-x;
    border: 1px solid #677c89;
    border-bottom-color: #6b808d;
}
.sectionHead h2 {
    padding : 10px;
}
.sectionBody {
    display : inline-block;
    background-color : #E8E8E8;
    width : 100%;
}
.tableHead {
    font-weight : bold;
    font-size : 18px;
    color : black;
    height : 40px;
    background-color: #e0e0e0;

    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.tableHead .cell {
    border-bottom : 2px solid #B8B8B8;
}
/* ----------------------------------------------------- */
.cell {
    float: left;
    background-color : #e9f1f4;
    border: 1px solid #E8E8E8;
    padding : 5px;
    padding: 8px;
    height: 24px;
}


.form {
    padding : 10px;
}

.deleteIcon { 
    float : right;
    width : 18px;
    height : 18px;
}

/* ----------------------------------------------------- */

.button {
    /* questionable */
    position: absolute;
    top: 117px;
    right: 71px;

    display: inline-block;
    padding: 7px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-bottom-color: #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

/* ----------------------------------------------------- */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}


.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/* --------------------------------------------------------------- */
#storageChannel {
    position : absolute;
    top      : 151px;
    right    : 63px;
}
#storageChannelLabel {
    position : absolute;
    top      : 151px;
    right    : 158px;
} 

.testBlock {
    background-color : green;
    float            : right;
    padding          : 55px;
    color            : white;
    margin           : 1px;
 }

.selectedTestBlock {
    opacity          : 0.6;
 }
