<div>
  <div class="sectionHead" ng-init="initChart()">
    <h2>[[title]]</h2>
    <div class="button" ng-click="toggleChartUpdateLoop()">Query</div>
    <label id="storageChannelLabel">Channel</label>
    <select id="storageChannel" ng-model="storageChannel" ng-options="c.name for c in storageChannels"></select>
  </div>
  <img ng-show="chartUpdateLoop" id="busyIcon" src="/images/busy.gif"></img>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  <a href="analytics/viz/sunburst">Sunburst</a>
</div>
