<div>
  <div class="sectionHead">
    <h2>[[title]]</h2>
    <div class="button" ng-click="toggleMessageLoop ()">Begin Simulation</div>
    <label id="storageChannelLabel">Channel</label>
    <select id="storageChannel" ng-model="storageChannel" ng-options="c.name for c in storageChannels"></select>
  </div>
  <div>
    <div id="testBlock1" class="testBlock" ng-class="{ selectedTestBlock: 1 === category}">One</div>
    <div id="testBlock2" class="testBlock" ng-class="{ selectedTestBlock: 2 === category}">Two</div>
    <div id="testBlock3" class="testBlock" ng-class="{ selectedTestBlock: 3 === category}">Three</div>
    <div id="testBlock4" class="testBlock" ng-class="{ selectedTestBlock: 4 === category}">Four</div>
    <div id="testBlock5" class="testBlock" ng-class="{ selectedTestBlock: 5 === category}">Five</div>
  </div>
</div>
 
